* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    
}

nav {
    height: 64px;
}

.navbar-brand {
    /* margin-left: 24px; */
}

.nav-link {
    padding-left: 8px;
    padding-right: 8px;
    color: #000;
}

/* First Section */
.first_flex_container {
    display: flex;
    text-align: left;
    background-color: #aeb1b1;  
}

.banner_image {
    width: 60%;
    margin: 32px 24px 32px 24px;
}

.text_box {
    display: flex;
    height: 638px;
    margin-top: 32px;
    flex-direction: column; 
    justify-content: center;
    align-items:flex-start;
}

h2 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

h3 {
    font-size: 2rem;
}

button { 
    display: block;
    width: 80%;
    border: none;
    background-color: #393a3a;
    color: white;
    padding: 8px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 40px;
      
}


/* second section */






















/* Media queries */
@media  screen and (max-width: 800px) {
    .nav-link {
        display: none;
    }
    .flex_container {
        flex-direction: column;
    }

    .banner {
        width: 100%;
        margin: auto;
    }

    .text_box {
        flex-direction: row;
    }

    .learning_text, .description_text {
        margin: 32px 16px;
    }

    button {
        margin: 24px 16px 32px 16px;
    }
}