* {
    /* box-sizing: border-box; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

nav {
    height: 64px;
}

.navbar-brand {
    padding-left: 24px;
}
.nav-link{
    padding-left: 8px;
    padding-right: 8px;
    color: #000;
}
li:last-child > a {
    padding-right: 24px;
}


