* {
    /* box-sizing: border-box; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

nav {
    height: 64px;
    margin-left: 8px;
    margin-right: 8px;
}

.navbar-brand {
    /* margin-left: 24px; */
}

.nav-link {
    padding-left: 8px;
    padding-right: 8px;
    color: #000;
}

/* li:last-child > a {
    padding-right: 24px;
} */

/* .container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    flex-direction: row;     
} 

.box_1 {
    width: 50%;
    border: 2px solid red;
} */

.banner {
    width: 60%;
    margin: 32px 24px 32px 24px;
    /* border: 2px solid blue; */
}

/* .box_2 {
    width: 50%;
    border: 2px solid green;
} */